<html>
    <body>
        <h3>User</h3>
        <p><%= details.user %></p>

        <h3>Text</h3>
        <p><%= details.text %></p>

        <h4>Added</h4>
        <p><%= details.added %></p>

    </body>
</html>