<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <a href="/" class="btn">Home</a>

        <div class="board">
            

            <h3 class="header">User</h3>
            <p><%= details.user %></p>

            <h3 class="header">Text</h3>
            <p><%= details.text %></p>

            <h4 class="header">Added</h4>
            <p><%= details.added %></p>


        </div>
        
    </body>
</html>